<!–– https://www.youtube.com/watch?v=3VBHWLFza4s ––>


{% extends 'studentskillsharing/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'posts' %}">Posts</a></li>
  <li class="breadcrumb-item active"><a href="{{ post.get_absolute_url }}">{{ post.post_title }}</a> </li>
  <li class="breadcrumb-item active">Delete Comment</li>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">

<br>
<div class="text-center">
    <div class="card" style="background-color: #E0E0E0">
        <div class="card-body">
            <h3> Do you really want to delete this comment?</h3>
            <hr>
            <br>
            <p>
                <form action="{% url 'comment_delete' comment.id %}" method='POST'>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="YES" />
                    <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Cancel</a>
                </form>
            </p>
        </div>
    </div>
</div>
<br><br>

{% endblock %}