{% extends "studentskillsharing/base.html" %}

{% block content %}
<h5>Your skills -- you can always come back to edit these on the right side of your profile page.</h5>

<form method="post">
    {% csrf_token %}
    {% for school in schools %}
    <div class="card" style="margin-bottom:20px;">
        <div class="card-header">
            {{ school }}
        </div>
    {% for skill in skills %}
        {% if skill.skill_school == school %}
            <label style="margin-left:10px;margin-top:5px;font-size:24px;">
                <input type="checkbox" name="skillchoice" value="{{skill.skill_title}}">  {{ skill.skill_title }}
            </label>
        {% endif %}
        {% endfor %}
    </div>
{% endfor %}
    <button type="submit" name="skills-add" class="btn btn-success">
        Next Step
    </button>
</form>
{% endblock %}