<!–– https://www.youtube.com/watch?v=3VBHWLFza4s ––>

{% extends 'studentskillsharing/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'posts' %}">Posts</a></li>
  <li class="breadcrumb-item active"><a href="{{ post.get_absolute_url }}">{{ post.post_title }}</a> </li>
  <li class="breadcrumb-item active">Delete Post</li>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">

<br>


<div class="text-center">
    <div class="card" style="background-color: #E0E0E0">
        <div class="card-body">
            <form action="." method='POST'>
                {% csrf_token %}
                <h1> Do you really want to delete the post
                    <b>
                        <a href = "{{ post.get_absolute_url }}"> {{ post.post_title }} </a>
                    </b>?
                </h1>
                <hr>
                <br>
                <p>
                    <input type="submit" class="btn btn-primary" value="YES" />
                     -
                    <a class="btn btn-primary" href="{{ post.get_absolute_url }}">No</a>
                </p>
            </form>
        </div>
    </div>
</div>
<br><br>
<hr>
<br>

{% endblock %}